@use '@styles/variables';

.main {
  position: relative;
  width: 100%;
  border-top-left-radius: 11.5px;
  border-top-right-radius: 11.5px;
  background-color: variables.$white;
  box-shadow: 7px 6px 15px 0 rgba(33, 33, 33, 0.14);
  border: solid 2px #1c1b1b;
  box-sizing: border-box;

  .contents {
    padding-left: 39px;
    padding-right: 39px;

    .mainBtns {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 32px;
      & > *:last-child {
        margin-top: 8px;
      }
    }
    .sideBtns {
      display: flex;
      margin-bottom: 95px;
      justify-content: center;
      & > *:first-child {
        margin-right: 12px;
      }
    }
  }
}
