.header {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.7px;
  margin-bottom: 48px;
}
.main_description,
.description {
  font-size: 12px;
}
.main_description {
  margin-bottom: 25px;
}
.description {
  letter-spacing: -0.4px;
  line-height: 1.25;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  &:last-child {
    margin-bottom: 78px;
  }
}
.key {
  display: block;
  margin-left: auto;
  margin-right: 29px;
}
