@use '@styles/variables';

.button {
  width: 100px;
  height: 25px;
  border-radius: 12.5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.42px;

  &White {
    background-color: variables.$white;
    border: solid 1px #c6c6c6;
  }
  &Gray {
    background-color: variables.$gray;
  }
}
