@use '@styles/variables';

.button {
  width: 193px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  padding-right: 8px;
  border-radius: 9px;
  border: solid 2px variables.$background;

  &.white {
    background-color: variables.$white;
    color: variables.$background;
  }
  &.red {
    background-color: variables.$background;
    color: variables.$white;
  }
  .arrow__Img {
    position: relative;
    top: -1px;
  }
  .label {
    width: 144px;
    text-align: right;
  }
}
