.mainHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .mainTitle {
    margin-top: 89px;
    margin-bottom: 42px;
  }
  .symbol {
    margin-bottom: 47px;
  }
}
