.mainHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .woohoo {
    position: relative;
    top: -19.1px;
  }
  .mainTitle {
    position: absolute;
    top: 89px;
    left: 50%;
    transform: translateX(-50%);
  }
  .symbol {
    margin-top: 6px;
    margin-bottom: 47px;
  }
}
