@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  src: url('https://spoqafont.s3.ap-northeast-2.amazonaws.com/SpoqaHanSansNeo-Bold.woff2')
      format('woff2'),
    url('https://spoqafont.s3.ap-northeast-2.amazonaws.com/SpoqaHanSansNeo-Bold.woff')
      format('woff');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src: url('https://spoqafont.s3.ap-northeast-2.amazonaws.com/SpoqaHanSansNeo-Medium.woff2')
      format('woff2'),
    url('https://spoqafont.s3.ap-northeast-2.amazonaws.com/SpoqaHanSansNeo-Medium.woff')
      format('woff');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src: url('https://spoqafont.s3.ap-northeast-2.amazonaws.com/SpoqaHanSansNeo-Regular.woff2')
      format('woff2'),
    url('https://spoqafont.s3.ap-northeast-2.amazonaws.com/SpoqaHanSansNeo-Regular.woff')
      format('woff');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 300;
  src: url('https://spoqafont.s3.ap-northeast-2.amazonaws.com/SpoqaHanSansNeo-Light.woff2')
      format('woff2'),
    url('https://spoqafont.s3.ap-northeast-2.amazonaws.com/SpoqaHanSansNeo-Light.woff')
      format('woff');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 200;
  src: url('https://spoqafont.s3.ap-northeast-2.amazonaws.com/SpoqaHanSansNeo-Thin.woff2')
      format('woff2'),
    url('https://spoqafont.s3.ap-northeast-2.amazonaws.com/SpoqaHanSansNeo-Thin.woff')
      format('woff');
}
